fastapi
uvicorn
transformers
peft
torch
torchvision
langchain
pypdf
tiktoken
sentence-transformers
faiss-cpu
python-multipart
streamlit
PyMuPDF
openai-whisper
sounddevice
webrtcvad
faster-whisper
SpeechRecognition
pyttsx3
scikit-learn
pydub